# =========================
# Logseq (internals)
# =========================
.logseq/
logseq/bak/
logseq/cache/

# =========================
# OS junk
# =========================
.DS_Store
Thumbs.db

# =========================
# Editor / IDE
# =========================
*.swp
*.swo
.idea/
.vscode/

# =========================
# Temporary / backup
# =========================
*~

